<div class="container body-content span=8 offset=2">
    <div class="well parallax-edit-create" >
        <form class="form-horizontal" method="POST" action="/article/delete/{{id}}">
            <fieldset>
                <legend><b>Delete Profile</b></legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileName">Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileName" placeholder="Name" value ="{{name}}" name="name" disabled >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Profession</label>
                    <div class="col-sm-6">
                        <select name="profession" class="form-control" id="select" disabled>
                            <option value="{{profession.id}}">{{profession.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileAge">Age</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileAge" placeholder="Age" value="{{age}}" name="age" disabled >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_tags">Residence City</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="article_tags"
                               name="tags" value="{{ tagNames }}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileCity">Place of Birth</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileCity" placeholder="City" value="{{city}}" name="city" disabled >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileEducation">University Degree</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileEducation" placeholder="Education" value="{{education}}" name="education" disabled >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileSpecialization">Specialization</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileSpecialization" placeholder="Specialization" value="{{specialization}}" name="specialization" disabled >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileCertifications">Certifications</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="profileCertifications" rows="5" name="certifications" disabled>{{certifications}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileWorkplace">Current Working Place</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileWorkplace" placeholder="Working place" value="{{workplace}}" name="workplace" disabled >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileWork">Working Experience</label>
                    <div class="col-sm-6 ">
                        <textarea class="form-control" id="profileWork" rows="5" name="work" disabled>{{work}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileContent">About me</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="profileContent" rows="5" name="content" disabled>{{content}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profileaddress">Address</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profileaddress" placeholder="address" value="{{address}}" name="address" disabled >
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-4 control-label" for="profileTelephone">Telephone Number</label>
                <div class="col-sm-4 ">
                    <input type="text" class="form-control" id="profileTelephone" placeholder="Telephone Number" value="{{telephone}}" name="telephone" disabled >
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="profilePhoto">Profile Photo URL</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="profilePhoto" placeholder="URL" value="{{photo}}" name="photo" disabled >
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <a href="/" class="btn btn-default">Cancel</a>

                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
