<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <div class="details">

                <header>
                    <h2>More About Me:</h2>
                </header>
                    <img src="{{article.photo}}" alt="not working">

                    <p><b>Name:</b> {{article.name}}
                </p>
                    <p><b>Age:</b> {{article.age}}
                </p>

                <p><b>Place of Birth:</b>  {{article.city}}
                </p>
                <p><b>University Degree:</b> {{article.education}}
                </p>
                    <p><b>Specialization:</b> {{article.specialization}}
                </p>
                    <p><b>Certifications:</b> {{article.certifications}}
                    </p>
                    <p><b>Current Working Place:</b> {{article.workplace}}
                    </p>
                <p><b>Working Experience:</b> {{article.work}}
                </p>
                <p><b>About me:</b> {{article.content}}
                </p>
                <p><b>Telephone Number:</b> {{article.telephone}}
                </p>

                </div>

                <footer>

                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-sm btn-success" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-sm btn-danger" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-sm" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>